<template>
  <section class="container mt-5 p-5 border">
      <div class="d-flex justify-content-between">
          <strong><p>Productos</p></strong>
          <div class="d-flex align-items-center cr-pointer" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer;">
            <p class="text-primary m-0">Agregar Producto</p>
            <i class="fa-solid fa-circle-plus text-primary ml-2"></i>
          </div>
      </div>
      <div class="d-flex justify-content-end">
        <input type="text" placeholder="Buscar..." >
      </div>
      <div class="mt-5">
          <table class="table">
            <thead>
                <tr class="text-muted">
                    <th scope="col">#</th>
                    <th scope="col">Cod producto</th>
                    <th scope="col">Nombre producto</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in 5" :key="index" class="text-muted">
                    <th scope="row"><p>{{index+1}}</p></th>
                    <td><p>cod654321</p></td>
                    <td><p>Nombre1</p></td>
                    <td><p>Categoria1</p></td>
                    <td><p>200</p></td>
                    <td><p><i class="fa-solid fa-circle text-success mr-2"></i>Activo</p></td>
                    <td class="d-flex">
                        <i class="fa-solid fa-pencil mr-3 text-primary"></i>
                        <i class="fa-solid fa-trash-can text-primary"></i>
                    </td>
                </tr>
            </tbody>
            </table>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content" style="border-radius: 27px;">
                        <div class="modal-body m-4">
                            <div class="row mx-2">
                                <p class="text-primary">Agregar producto</p>
                            </div>
                            <div class="row mx-2 flex-column">
                                <p class="m-0 text-muted text-left">Nombre producto</p>
                                <input class="py-2" type="text" placeholder="Ingrese nombre de producto">
                            </div>
                            <div class="row mx-0 mt-4">
                                <div class="col-6 px-2">
                                    <p class="m-0 text-muted text-left">Nombre producto</p>
                                    <input class="w-100 py-2" type="text" placeholder="Ingrese código de producto">
                                </div>
                                <div class="col-6 px-2">
                                    <p class="m-0 text-muted text-left">Nombre producto</p>
                                    <input class="w-100 py-2" type="text" placeholder="Seleccione">
                                </div>
                            </div>
                            <div class="row mx-0 mt-4">
                                <div class="col-6 px-2">
                                    <p class="m-0 text-muted text-left">Nombre producto</p>
                                    <input class="w-100 py-2" type="text" placeholder="Ingrese cantidad de producto">
                                </div>
                                <div class="col-6 px-2">
                                    <p class="m-0 text-muted text-left">Nombre producto</p>
                                    <input class="w-100 py-2" type="text" placeholder="Seleccione">
                                </div>
                            </div>
                            <div class="mt-4 d-flex justify-content-end">
                                <button class="btn btn-primary mr-3">Agregar</button>
                                <button class="btn btn-primary">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

      </div>
  </section>
</template>

<script>
// import Productos from '~/services/productos'
// import Axios from "axios";
export default {
    data(){
        return {
            url:'http://localhost:4000',
            productos:[]
        }
    },
    mounted(){
        this.listarProductos()
    },
    methods:{
        async listarProductos(){
            this.productos = await Axios.get(`${RUTA}/listar`)
        }
    }
}
</script>

<style lang="css" scoped>
    .container{
        box-shadow: 0px 3px 30px #0000000F;
        border-radius: 27px;
    }
</style>